.CFUserTextEncoding
.DS_Store
.FontForge/
.ICEauthority
.NERDTreeBookmarks
.Private/
.Skype/
.TeXworks/
.Trash/
.VirtualBox/
.Xauthority
.adobe/
.android/
.aptitude/
.audacity-data/
.autotest
.bash/local
.bash_history
.bashrc-dist
.bitcoin/
.blueprints.git/
.bzr.log
.cabal/
.cache/
.cheat/
.chromedriver-helper/
.clamtk/
.claws-mail/
.clipboard
.cola
.compiz-1/
.compiz/
.config/
.cups/
.dbshell
.dbus/
.dbvis/
.dbwrench2/
.dia
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss
.easytag
.eclipse/
.ecryptfs/
.elinks/
.erlang.cookie
.esd_auth
.filezilla/
.fontconfig/
.fonts/Optima-Bold-Italic.ttf
.fonts/Optima-Bold.ttf
.fonts/Optima-ExtraBlack.ttf
.fonts/Optima-Italic.ttf
.fonts/Optima-Regular.ttf
.fonts/fonts.dir
.fonts/fonts.scale
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.ghc/
.gimp-2.6/
.gimp-2.8/
.gitconfig
.gitk
.gksu.lock
.global_gitignore
.gnome/
.gnome2/
.gnucash/
.gnupg/
.goobook_cache
.goutputstream-0J6KJW
.goutputstream-GFAFKW
.goutputstream-TYZXIW
.goutputstream-VKOJIW
.gstreamer-0.10/
.gtimelog/
.gtk-bookmarks
.gtk-gnutella/
.gtkpod/
.guard_history
.heroku/
.hplip/
.htoprc
.icedtea/
.icons/
.install4j
.irb-history
.irb_history
.irssi/
.java/
.kde/
.lesshst
.lftp/
.libreoffice/
.linkchecker/
.links2
.local/
.macromedia/
.milkmaid
.mission-control/
.mozilla/
.mplayer/
.msmtp.log
.msmtprc
.mutt
.mutt/*
.muttrc
.mysql/
.mysql_history
.mysqlgui/
.namecoin/
.navicat/
.netbeans/
.netrc
.nvidia-settings-rc
.offlineimap/
.offlineimaprc
.pam_environment
.passenger/
.pentadactyl/
.perb/
.pgadmin3
.pgadmin_histoqueries
.pgpass
.php_history
.pip
.pki/
.plover-lock-wintermute-0
.profile
.pry_history
.psi/
.psql_history
.pulse-cookie
.pulse/
.puppet/
.purple/
.putty/
.pws
.qt/
.quodlibet/
.rbx/
.rdebug_hist
.rediscli_history
.ri
.ri_vim/
.rnd
.rpmdb/
.rubinius_last_error
.rvm/
.sane/
.ssh
.ssh/
.steam*
.subversion/
.sudo_as_admin_successful
.tagtoolrc
.termtter/token
.texmf-var/
.thumbnails/
.thunderbird/
.to_pass/
.tomighty/
.tora.tse
.tora_cache/
.tsclient/
.twinkle/
.vagrant.d/
.vim-cache/
.vim/.netrwhist
.vim/backups/*
.vim/bundle/*
.vim/pathogen/
.vim/tmp/*
.vimgolf
.viminfo
.vimperator/
.w3af/
.w3m/
.wavemonrc
.workrave/
.xine/
.xinput.d/
.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors
.xsession-errors.old
Applications/
Audiobooks/
Code/
DbVisualizer-8.0.4/
Desktop/
Documents/
Downloads/
Dropbox/
HttpDump.log
Library/
Mail/
Movies/
Music/
Pictures/
Private/
Public/
Sites/
Ubuntu One/
Videos/
VirtualBox VMs/
android-sdk-linux/
bin/
chromedriver.log
dbext_sql_history.txt
dwhelper/
examples.desktop
fontconfig/
gPodder/
homebrew/
mysqlaccess.log
pgadmin.log
