.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cups/
.dropbox/
.gem/
.global_gitignore
.gitconfig
.irb-history
.irb_history
.profile
.rvm/
.ssh/
.subversion/
.viminfo
.vim/backups/*
.vim/tmp/*
Applications/
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
bin/
homebrew/
