.CFUserTextEncoding
.CloudStation/
.DS_Store
.FontForge/
.ICEauthority
.NERDTreeBookmarks
.Private/
.Skype/
.TeXworks/
.Trash/
.VirtualBox/
.Xauthority
.adobe/
.android/
.aptitude/
.atl.properties
.atlauncher/
.audacity-data/
.autotest
.bash/local
.bash_history
.bashrc-dist
.bitcoin/
.blueprints.git/
.byobu/
.bzr.log
.cabal/
.cache/
.ccnet/
.cheat/
.chromedriver-helper/
.clamtk/
.claws-mail/
.clipboard
.cola
.compiz-1/
.compiz/
.composer/
.config/
.cups/
.dbshell
.dbus/
.dbvis/
.dbwrench2/
.dia
.dmenu_cache
.dmrc
.dropbox-dist/
.dropbox-master/
.dropbox/
.dvdcss
.easytag
.eclipse/
.ecryptfs/
.elinks/
.erlang.cookie
.esd_auth
.fehbg
.filezilla/
.fontconfig/
.fonts/Optima-Bold-Italic.ttf
.fonts/Optima-Bold.ttf
.fonts/Optima-ExtraBlack.ttf
.fonts/Optima-Italic.ttf
.fonts/Optima-Regular.ttf
.fonts/fonts.dir
.fonts/fonts.scale
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.ghc/
.gimp-2.6/
.gimp-2.8/
.gitconfig
.gitk
.gksu.lock
.global_gitignore
.gnome/
.gnome2/
.gnucash/
.gnupg/
.goobook_auth.json
.goobook_cache
.goutputstream-0J6KJW
.goutputstream-GFAFKW
.goutputstream-TYZXIW
.goutputstream-VKOJIW
.gstreamer-0.10/
.gtimelog/
.gtk-bookmarks
.gtk-gnutella/
.gtkpod/
.guard_history
.habitrpgrc
.heroku/
.hplip/
.htoprc
.htsrtmlastsync
.htsrtmtoken.json
.icedtea/
.icons/
.install4j
.irb-history
.irb_history
.irssi/
.java/
.kde/
.lesshst
.lftp/
.libreoffice/
.linkchecker/
.links2
.local/
.macromedia/
.milkmaid
.minecraft/
.mission-control/
.mozilla/
.mplayer/
.msmtp.log
.msmtprc
.mutt
.mutt/*
.muttrc
.mysql/
.mysql_history
.mysqlgui/
.namecoin/
.navicat/
.netbeans/
.netrc
.npm/
.nv
.nvidia-settings-rc
.offlineimap/
.offlineimaprc
.openshot/
.pam_environment
.passenger/
.pentadactyl/
.perb/
.pgadmin3
.pgadmin_histoqueries
.pgpass
.phantomjs/
.php_history
.pip
.pki/
.plover-lock-wintermute-0
.profile
.pry_history
.psensor/
.psi/
.psql_history
.pulse-cookie
.pulse/
.puppet/
.purple/
.putty/
.pws
.python-eggs/
.qt/
.quodlibet/
.qweechat/
.qws/
.rbx/
.rdebug_hist
.rediscli_history
.ri
.ri_vim/
.rnd
.rpmdb/
.rubinius_last_error
.rvm/
.sane/
.screenlayout/
.speech-dispatcher/
.sqlite_history
.ssh
.ssh/
.steam*
.subversion/
.sudo_as_admin_successful
.synaptic/
.tagtoolrc
.telegram-cli/
.termtter/token
.texmf-var/
.thumbnails/
.thunderbird/
.to_pass/
.todo/
.tomighty/
.tora.tse
.tora_cache/
.tsclient/
.twinkle/
.uuid
.vagrant.d/
.vim-cache/
.vim/.netrwhist
.vim/backups/*
.vim/bundle/*
.vim/spell/
.vim/tmp/*
.vimgolf
.viminfo
.vimperator/
.w3af/
.w3m/
.wavemonrc
.weechat/
.wine-pipelight/
.wine/
.workrave/
.xine/
.xinitrc.experimental
.xinput.d/
.xinputrc
.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors
.xsession-errors.old
Applications/
Audiobooks/
CloudStation/
Code/
DbVisualizer-8.0.4/
Desktop/
Documents/
Downloads/
Dropbox/
Games/
Google Drive/
HttpDump.log
Library/
Mail/
Movies/
Music/
Pictures/
Private/
Public/
Seafile/
Sites/
Ubuntu One/
Videos/
VirtualBox VMs/
android-sdk-linux/
bin/
chromedriver.log
dbext_sql_history.txt
dmesg/
dumps/
dwhelper/
examples.desktop
fontconfig/
gPodder/
go/
homebrew/
mysqlaccess.log
pgadmin.log
tmp/
